<nav class="fixed top-0 w-full p-6 md:p-8 flex justify-between items-center z-50 mix-blend-difference text-white">
    <div class="cursor-pointer group">
        <h1
            class="text-3xl font-display font-bold tracking-tighter leading-none group-hover:text-brand-yellow transition-colors">
            GIST4U
        </h1>
    </div>

    <div class="hidden md:flex gap-8 font-bold">
        <a href="#features"
            class="nav-link font-sans text-sm hover:text-brand-yellow transition-colors cursor-pointer">FEATURES</a>
        <a href="#demo"
            class="nav-link font-sans text-sm hover:text-brand-yellow transition-colors cursor-pointer">PREVIEW</a>
        <a href="#pricing"
            class="nav-link font-sans text-sm hover:text-brand-yellow transition-colors cursor-pointer">PLANS</a>
    </div>

    <a href="/feed/"
        class="nav-link bg-white text-black px-6 py-2 rounded-full text-sm font-bold border border-transparent hover:bg-brand-yellow hover:border-white transition-colors cursor-pointer">
        GET STARTED
    </a>
</nav>