{% extends 'web/base.html' %}

{% block html_attributes %}{% endblock %}
{% block meta_translation %}{% endblock %}

{% block content %}
{% include 'web/includes/_hero.html' %}
{% include 'web/includes/_marquee.html' %}
{% include 'web/includes/_features.html' %}
{% include 'web/includes/_demo.html' %}
{% include 'web/includes/_signup.html' %}
{% include 'web/includes/_pricing.html' %}
{% include 'web/includes/_subscription_modal.html' %}
{% include 'web/includes/_advertising_modal.html' %}
{% endblock %}